/*----------------------------------Game Board---------------*/

.container {
    position: relative;
    grid-area: 1 / 2;
    display: flex;
    height: 90vmin;
    width: 90vmin;
    margin: 5vh 2vw;
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    justify-content: center;
    overflow: hidden;

}

.board {
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1.5fr repeat(5, 1fr) 1.5fr;
    grid-template-rows: 1.5fr repeat(5, 1fr) 1.5fr;
    padding: 20px;
    margin: auto;
    background-color: grey;
    border: 5px solid green;
}

.move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 0;
    background-color: #fafafa;
    text-align: center;
    border-radius: 10px;
}

.enrol-yes, .enrol-no, .html-yes, .html-no,
.css-yes, .css-no, .javascript-yes, .javascript-no {
    background-color: green;
    border-radius: 5px;
    font-size: 2vmin;
    padding: 5px;
    margin: 1vmin;
    text-transform: uppercase;
    font-weight:  bold;
    font-family: "Chelsea Market", cursive, sans-serif;
    
}


/*---------------Choosing Route-------*/

#choose-enrol, #choose-html,
#choose-css, #choose-javascript, #opp-cards-container {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    background-color:  rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    color: #fff;
}

.enrol-content, .html-content,
.css-content, .javascript-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000763;
    height: 30vh;
    width: 30vw;
    border-radius: 20px;
}

.enrol-content>h2, .html-content>h2,
.css-content>h2, .javascript-content>h2 {
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    font-size: 5vmin;
}

.enrol-btn-container, .html-btn-container,
.javascript-btn-container, .css-btn-container {
    display: flex;
    flex-direction: row;
}


/*----------------------------------Dice---------------*/

.dice-roll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    grid-area: 3 / 4 / span 2 / span 1;
}

.dice {
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 5px;
    border: 2px solid #000;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px darkred;
}

.roll-btn, .pay-btn, .roll-square-btn {
    height: 40px;
    width: 75px;
    margin-top: 50px;
    background-color: green;
    margin: 10px;
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}
.pay-btn {
    grid-area: 4 / 2 / span 1 / span 2;
    justify-self: center;
}

.stay-btn {
    display: none;
}

.current-turn {
    color: #000;
    font-weight: bold;
}


.new-space-btn-container {
    display: flex;
    flex-direction: row
}


/*------------------------------------------Grid Board Spaces----------------*/

[id='1'] {
    grid-area: 7 / 7;
}
[id="2"] {
    grid-area: 7 / 6;
}
[id="3"] {
    grid-area: 7 / 5;
}
[id="4"] {
    grid-area: 7 / 4;
}
[id="5"] {
    grid-area: 7 / 3;
}
[id="6"] {
    grid-area: 7 / 2;
}
[id="7"] {
    grid-area: 7 / 1;
}
[id="8"] {
    grid-area: 6 / 1;
}
[id="9"] {
    grid-area: 5 / 1;
}
[id="10"] {
    grid-area: 4 / 1;
}
[id="11"] {
    grid-area: 3 / 1;
}
[id="12"] {
    grid-area: 2 / 1;
}
[id="13"] {
    grid-area: 1 / 1;
}
[id="14"] {
    grid-area: 1 / 2;
}
[id="15"] {
    grid-area: 1 / 3;
}
[id="16"] {
    grid-area: 1 / 4;
}
[id="17"] {
    grid-area: 1 / 5;
}
[id="18"] {
    grid-area: 1 / 6;
}
[id="19"] {
    grid-area: 1 / 7;
}
[id="20"] {
    grid-area: 2 / 7;
}
[id="21"] {
    grid-area: 3 / 7;
}
[id="22"] {
    grid-area: 4 / 7;
}
[id="23"] {
    grid-area: 5 / 7;
}
[id="24"] {
    grid-area: 6 / 7;
}


    /*---------------Inner Enrol-----------*/

[id="25"] {
    grid-area: 4 / 5;
}
[id="26"] {
    grid-area: 3 / 5;
}
[id="27"] {
    grid-area: 2 / 5;
}
[id="28"] {
    grid-area: 1 / 5;
}
[id="29"] {
    grid-area: 1 / 4;
}
[id="30"] {
    grid-area: 1 / 3;
}
[id="31"] {
    grid-area: 1 / 2;
}
[id="32"] {
    grid-area: 2 / 2;
}
[id="33"] {
    grid-area: 3 / 2;
}
[id="34"] {
    grid-area: 3 / 3;
}
[id="35"] {
    grid-area: 4 / 3;
}

    /*---------------Inner HTML-----------*/

[id="36"] {
    grid-area: 4 / 1;
}
[id="37"] {
    grid-area: 4 / 2;
}
[id="38"] {
    grid-area: 4 / 3;
}
[id="39"] {
    grid-area: 4 / 4;
}
[id="40"] {
    grid-area: 3 / 4;
}
[id="41"] {
    grid-area: 2 / 4;
}
[id="42"] {
    grid-area: 2 / 3;
}
[id="43"] {
    grid-area: 1 / 3;
}

    /*---------------Inner CSS-----------*/

[id="44"] {
    grid-area: 1 / 1;
}
[id="45"] {
    grid-area: 2 / 1;
}
[id="46"] {
    grid-area: 3 / 1;
}
[id="47"] {
    grid-area: 3 / 2;
}
[id="48"] {
    grid-area: 3 / 3;
}
[id="49"] {
    grid-area: 4 / 3;
}
[id="50"] {
    grid-area: 4 / 4;
}

   /*---------------Inner Java-----------*/

[id="51"] {
    grid-area: 1 / 4;
}
[id="52"] {
    grid-area: 1 / 3;
}
[id="53"] {
    grid-area: 1 / 2;
}
[id="54"] {
    grid-area: 1 / 1;
}
[id="55"] {
    grid-area: 2 / 1;
}
[id="56"] {
    grid-area: 3 / 1;
}
[id="57"] {
    grid-area: 3 / 2;
}
[id="58"] {
    grid-area: 3 / 3;
}
[id="59"] {
    grid-area: 4 / 3;
}

/*------------------------------------------Board Spaces Styles----------------*/

[id="4"]>div, [id="11"]>div,
[id="17"]>div, [id="23"]>div {
    background-color: transparent;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

[id="1"]>div, [id="7"]>div,
[id="13"]>div, [id="19"]>div {
    background-color: #36adab;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

[id="2"]>div, [id="5"]>div,
[id="8"]>div, [id="10"]>div,
[id="15"]>div, [id="18"]>div,
 [id="21"]>div, [id="24"]>div {
    background-color: #ad4139;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

[id="3"]>div, [id="6"]>div,
[id="9"]>div, [id="12"]>div,
[id="14"]>div, [id="16"]>div,
[id="20"]>div, [id="22"]>div {
    background-color: #5aad39;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

/* https://css-tricks.com/ids-cannot-start-with-a-number/  - This helped*/
[id="1"] {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="7"] {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="13"] {
    border-left: 3px solid #000;
    border-top: 3px solid #000;
}

[id="19"] {
    border-right: 3px solid #000;
    border-top: 3px solid #000;
}

[id="2"], [id="3"], [id="4"], [id="5"], [id="6"],
[id="14"], [id="15"], [id="16"],
[id="17"], [id="18"] {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}

[id="8"], [id="9"], [id="10"], [id="11"], [id="12"],
[id="20"], [id="21"], [id="22"],
[id="23"], [id="24"] {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

/*----------------------------------Inner Board Spaces Style----------*/

#inner-java {
    grid-area: 5 / 5 / span 2 / span 2;
}

#inner-enrol {
    grid-area: 5 / 2 / span 2 / span 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#inner-html {
    grid-area: 2 / 2 / span 2 / span 2;
}

#inner-css {
    grid-area: 2 / 5 / span 2 / span 2;
}

#inner-java, #inner-html, #inner-css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.inner-move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #fafafa, #fafafa, #aca9a9);
    text-align: center;
    border-radius: 5px;
}

[id="51"], [id="52"], [id="53"], [id="57"], [id="29"],
[id="30"], [id="36"], [id="37"],
[id="38"], [id="47"], [id="50"] {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

[id="55"], [id="59"], [id="25"], [id="26"], [id="27"],
[id="32"], [id="35"], [id="40"],
[id="43"], [id="44"], [id="45"] {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

[id="54"], [id="31"]{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

[id="56"], [id="33"], [id="42"],
[id="46"], [id="49"]{
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}

[id="58"], [id="28"], [id="34"],
[id="41"], [id="48"]{
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

[id="39"]{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}