@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    background: linear-gradient(20deg, #000763, #1620a6);
}

.game-title {
    grid-area: 1 / 1;
    color: #fafafa;
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 4rem;
    text-decoration: underline;
    text-align: center;
    padding: 25px;
    transform: rotate(-4deg);
    height: 30%;
    z-index: -1;
}

.container {
    grid-area: 1 / 2 / span 1 / span 2;
    display: flex;
    height: 90vh;
    margin: 5vh 2vw;
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    justify-content: center;
}

.board {
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1.5fr repeat(5, 1fr) 1.5fr;
    grid-template-rows: 1.5fr repeat(5, 1fr) 1.5fr;
    padding: 20px;
    margin: auto;
    background-color: grey;
    border: 5px solid green;
}

.move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    text-align: center;
    border-radius: 10px;
}

.move-space>div {
    background-color: grey;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

/* https://css-tricks.com/ids-cannot-start-with-a-number/  - This helped*/
[id="1"] {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="7"] {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="13"] {
    border-left: 3px solid #000;
    border-top: 3px solid #000;
}

[id="19"] {
    border-right: 3px solid #000;
    border-top: 3px solid #000;
}

[id="2"], [id="3"], [id="4"], [id="5"], [id="6"],
[id="14"], [id="15"], [id="16"],
[id="17"], [id="18"] {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}

[id="8"], [id="9"], [id="10"], [id="11"], [id="12"],
[id="20"], [id="21"], [id="22"],
[id="23"], [id="24"] {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}


/*----------------------------------Inner Board Spaces----------*/

#inner-java {
    grid-area: 5 / 5 / span 2 / span 2;
}

#inner-enrol {
    grid-area: 5 / 2 / span 2 / span 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#inner-html {
    grid-area: 2 / 2 / span 2 / span 2;
}

#inner-css {
    grid-area: 2 / 5 / span 2 / span 2;
}

#inner-java, #inner-html, #inner-css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.inner-move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #fafafa, #fafafa, #aca9a9);
    text-align: center;
    border-radius: 5px;
}

#ij-one, #ij-two, #ij-three, #ij-seven, #ie-five,
#ie-six, #ih-one, #ih-two,
#ih-three, #ic-four, #ic-seven {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

#ij-five, #ij-nine, #ie-one, #ie-two, #ie-three,
#ie-eight, #ie-eleven, #ih-five,
#ih-eight, #ic-one, #ic-two {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-four, #ie-seven{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-six, #ie-nine, #ih-seven,
#ic-three, #ic-six{
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-eight, #ie-four, #ie-ten,
#ih-six, #ic-five{
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

#ih-four{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}


/*----------------------------------Interactive Box---------------*/

.ie-container {
    grid-area: 1 / 1;
    align-self: flex-end;
    height: 70vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    margin: 5vh 2vw;    
}

 
/*----------------------------------Dice---------------*/

.dice-roll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dice-container, .btn-container {
    display: flex;
    flex-direction: row;
}

.dice {
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 5px;
    border: 2px solid #000;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px darkred;
}

.dice-roll button {
    height: 40px;
    width: 75px;
    margin-top: 50px;
    background-color: green;
    margin: 10px;
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
}

#roll {
    color: #fff;
    padding: 10px;
}

/*-----------------------Counters----------*/

#player-one {
    /* display: inline-block; */
    position: absolute;
    top: 25%;
    left: 25%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-two {
    /* display: inline-block; */
    position: absolute;
    top: 25%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-three {
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 25%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-four {
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

.current {
    background-color: red;
}


/*----------------Player Turn--------*/

.player-turn {
    height: 10vh;
    width: 50%;
    color: #fff;
}

.player-turn button {
    height: 20px;
    margin-top: 20px;
}

/*---------------Choosing Route-------*/

#inner-route {
    height: 20px;
    width: 50px;
}

.choose-route {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:  rgba(0,0,0,0.5);
    color: #fff;
}

.route-content {
    background-color: #000763;
    height: 30vh;
    width: 30vw;
    margin: 20% auto;
}

/*---------------Game Intro-------*/

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:  rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    color: #fff;
}

#rules-content, #players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000763;
    height: 40vh;
    width: 40vw;
    border-radius: 20px;
}

#players {
    display: none;
}

#rules-content>h2, #players>h2 {
    margin-top: 10px;
}

#rules-content>p, #players>p {
    height: 75%;
    margin: 10px;
    width: 100%;
    text-align: center;
}

#play-btn, #go-btn {
    background-color: green;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 20px;
}