* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    background: linear-gradient(20deg, #000763, #1620a6);
}

.container {
    grid-area: 1 / 2 / span 1 / span 2;
    display: flex;
    height: 90vh;
    margin: 5vh 2vw;
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    justify-content: center;
}

.board {
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: 1.5fr repeat(5, 1fr) 1.5fr;
    grid-template-rows: 1.5fr repeat(5, 1fr) 1.5fr;
    padding: 20px;
    margin: auto;
    background-color: grey;
    border: 5px solid green;
}

.move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    text-align: center;
    border-radius: 10px;
}

.move-space>div {
    background-color: grey;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    position: relative;
}

/* https://css-tricks.com/ids-cannot-start-with-a-number/  - This helped*/
[id="1"] {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="7"] {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
}

[id="13"] {
    border-left: 3px solid #000;
    border-top: 3px solid #000;
}

[id="19"] {
    border-right: 3px solid #000;
    border-top: 3px solid #000;
}

[id="2"], [id="3"], [id="4"], [id="5"], [id="6"],
[id="14"], [id="15"], [id="16"],
[id="17"], [id="18"] {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}

[id="8"], [id="9"], [id="10"], [id="11"], [id="12"],
[id="20"], [id="21"], [id="22"],
[id="23"], [id="24"] {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}


/*------------------------------------------Grid Board Spaces----------------*/

[id='1'] {
    grid-area: 7 / 7;
}
[id="2"] {
    grid-area: 7 / 6;
}
[id="3"] {
    grid-area: 7 / 5;
}
[id="4"] {
    grid-area: 7 / 4;
}
[id="5"] {
    grid-area: 7 / 3;
}
[id="6"] {
    grid-area: 7 / 2;
}
[id="7"] {
    grid-area: 7 / 1;
}
[id="8"] {
    grid-area: 6 / 1;
}
[id="9"] {
    grid-area: 5 / 1;
}
[id="10"] {
    grid-area: 4 / 1;
}
[id="11"] {
    grid-area: 3 / 1;
}
[id="12"] {
    grid-area: 2 / 1;
}
[id="13"] {
    grid-area: 1 / 1;
}
[id="14"] {
    grid-area: 1 / 2;
}
[id="15"] {
    grid-area: 1 / 3;
}
[id="16"] {
    grid-area: 1 / 4;
}
[id="17"] {
    grid-area: 1 / 5;
}
[id="18"] {
    grid-area: 1 / 6;
}
[id="19"] {
    grid-area: 1 / 7;
}
[id="20"] {
    grid-area: 2 / 7;
}
[id="21"] {
    grid-area: 3 / 7;
}
[id="22"] {
    grid-area: 4 / 7;
}
[id="23"] {
    grid-area: 5 / 7;
}
[id="24"] {
    grid-area: 6 / 7;
}

/*----------------------------------Inner Board Spaces----------*/

#inner-java {
    grid-area: 5 / 5 / span 2 / span 2;
}

#inner-enrol {
    grid-area: 5 / 2 / span 2 / span 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#inner-html {
    grid-area: 2 / 2 / span 2 / span 2;
}

#inner-css {
    grid-area: 2 / 5 / span 2 / span 2;
}

#inner-java, #inner-html, #inner-css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.inner-move-space {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #fafafa, #fafafa, #aca9a9);
    text-align: center;
    border-radius: 5px;
}

#ij-one, #ij-two, #ij-three, #ij-seven, #ie-five,
#ie-six, #ih-one, #ih-two,
#ih-three, #ic-four, #ic-seven {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

#ij-five, #ij-nine, #ie-one, #ie-two, #ie-three,
#ie-eight, #ie-eleven, #ih-five,
#ih-eight, #ic-one, #ic-two {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-four, #ie-seven{
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-six, #ie-nine, #ih-seven,
#ic-three, #ic-six{
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}

#ij-eight, #ie-four, #ie-ten,
#ih-six, #ic-five{
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}

#ih-four{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

    /*---------------Inner Java-----------*/

#ij-one {
    grid-area: 1 / 4;
}
#ij-two {
    grid-area: 1 / 3;
}
#ij-three {
    grid-area: 1 / 2;
}
#ij-four {
    grid-area: 1 / 1;
}
#ij-five {
    grid-area: 2 / 1;
}
#ij-six {
    grid-area: 3 / 1;
}
#ij-seven {
    grid-area: 3 / 2;
}
#ij-eight {
    grid-area: 3 / 3;
}
#ij-nine {
    grid-area: 4 / 3;
}
    /*---------------Inner Enrol-----------*/

#ie-one {
    grid-area: 4 / 5;
}
#ie-two {
    grid-area: 3 / 5;
}
#ie-three {
    grid-area: 2 / 5;
}
#ie-four {
    grid-area: 1 / 5;
}
#ie-five {
    grid-area: 1 / 4;
}
#ie-six {
    grid-area: 1 / 3;
}
#ie-seven {
    grid-area: 1 / 2;
}
#ie-eight {
    grid-area: 2 / 2;
}
#ie-nine {
    grid-area: 3 / 2;
}
#ie-ten {
    grid-area: 3 / 3;
}
#ie-eleven {
    grid-area: 4 / 3;
}

    /*---------------Inner HTML-----------*/

#ih-one {
    grid-area: 4 / 1;
}
#ih-two {
    grid-area: 4 / 2;
}
#ih-three {
    grid-area: 4 / 3;
}
#ih-four {
    grid-area: 4 / 4;
}
#ih-five {
    grid-area: 3 / 4;
}
#ih-six {
    grid-area: 2 / 4;
}
#ih-seven {
    grid-area: 2 / 3;
}
#ih-eight {
    grid-area: 1 / 3;
}

    /*---------------Inner CSS-----------*/

#ic-one {
    grid-area: 1 / 1;
}
#ic-two {
    grid-area: 2 / 1;
}
#ic-three {
    grid-area: 3 / 1;
}
#ic-four {
    grid-area: 3 / 2;
}
#ic-five {
    grid-area: 3 / 3;
}
#ic-six {
    grid-area: 4 / 3;
}
#ic-seven {
    grid-area: 4 / 4;
}

/*----------------------------------Dice---------------*/

.actions {
    display: flex;
    flex-direction: row;
}

.dice {
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin: 5px;
    border: 2px solid #000;
    font-size: 16px;
    text-align: center;
}

.actions button {
    height: 20px;
    margin-top: 20px;
}

#roll {
    color: #fff;
    padding: 10px;
}

/*-----------------------Counters----------*/

#player-one {
    /* display: inline-block; */
    position: absolute;
    top: 25%;
    left: 25%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-two {
    /* display: inline-block; */
    position: absolute;
    top: 25%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-three {
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 25%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

#player-four {
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: #000;
    z-index: 99;
    border-radius: 50%;
    color: #fff;
}

.current {
    background-color: red;
}


/*----------------Player Turn--------*/

.player-turn {
    height: 10vh;
    width: 50%;
    color: #fff;
}

.player-turn button {
    height: 20px;
    margin-top: 20px;
}

/*---------------Choosing Route-------*/

#inner-route {
    height: 20px;
    width: 50px;
}

.choose-route {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:  rgba(0,0,0,0.5);
    color: #fff;
}

.route-content {
    background-color: #000763;
    height: 30vh;
    width: 30vw;
    margin: 20% auto;
}