@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Tamma 2", cursive, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 30vw repeat(2, 1fr);
    max-height: 100vh;
    background: linear-gradient(20deg, #000763, #1620a6);
}

.game-title {
    grid-area: 1 / 1;
    color: #fafafa;
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 7vmin;
    text-decoration: underline;
    text-align: center;
    padding: 25px;
    transform: rotate(-4deg);
    height: 30%;
    z-index: -1;
}

.reset {
    background-color: green;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 20px;
}

/*---------------Game Intro-------*/

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:  rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    color: #fff;
}

#intro-content, #rules, #formula, #winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000763;
    height: 60vh;
    width: 40vw;
    border-radius: 20px;
    padding: 2vmin;
}

#rules, #formula, #winner {
    display: none;
}

#intro-content>h1 {
    font-family: "Chelsea Market", cursive, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

#intro-content>h2, #rules>h2, #formula>h2 {
    margin-top: 10px;
}

#intro-content>p, #rules>p, #formula>p {
    height: 75%;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.play-btn, .go-btn, .next-btn, .skip-btn,
.reset-btn, .carry-on-btn, .opp-use-now-btn {
    background-color: green;
    border-radius: 5px;
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight:  bold;
    font-family: "Chelsea Market", cursive, sans-serif;
}

.player-formula {
    flex-direction: row;
}

.player-formula>input {
    color: #000;
}

/*----------------------------------Interactive Box---------------*/

.ie-container {
    grid-area: 1 / 1;
    align-self: flex-end;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    margin: 5vh 0 5vh 2vw;
    justify-content: center;
    align-items: top;
    padding-top: 2vmin;  
}

/*-----------------------Income Level---------------*/

.payday-income {
    grid-area: 1 / 1;
    color: #fff;
    text-align: center;
}

/*-----------------------Enrollment Speciality and Study Record----------*/

.focus, .study {
    grid-area: 2 / 1;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    color: #fff;
}

.study {
    grid-area: 1 / 2;    
}

.focus-chosen, .study-record {
    width: 100%;
    border-spacing: 0px;
}

.focus-chosen tr td {
    width: 50%;
}

.study-record tr td {
    width: 25%;
}

td {
    border-right: 1px solid #fff;
    border-collapse: collapse;
    padding: 0 5px;
}

/*-----------------------Opp and Exp Cards----------*/

.cards {
    grid-area: 2 / 2;
    height: 100%;
    color: #fff;
    text-align: center;
}

.opp-cards, .exp-cards {
    display: inline-block;
    height: 32%;
    max-height: 32%;
    width: 80%;
    border: 2px dashed #fff;
    margin-left: 1vw;
    overflow: scroll;
}

.cards>h2 {
    text-decoration: underline;
}

/* https://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes */

[class^="player-opp-card"] {
    display: inline-block;
    height: 50%;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #ad4139;
    color: #000;
    margin-left: 2px;
}

[class^="player-exp-card"] {
    display: inline-block;
    height: 50%;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #ce8321;
    color: #000;
    margin-left: 2px;
}

#opp-cards-container {
    display: none;
    flex-direction: column;
}

#opp-cards-container>h1 {
    /* align-self: flex-start; */
    margin-top: 2vmin;
}

.opp-cards-content {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
}

[class^="player-check-opp-card"] {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #ad4139;
    color: #000;
    margin-left: 5vmin;
}



/*-----------------------Succession Formula----------*/

.success-formula {
    grid-area: 3 / 1 / span 1 / span 2;
    color: #fff;
    margin-top: 2vmin;
}

.success-formula> h2, .study> h2,
.focus> h2, .payday-income>h2
 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.success-formula> h2, .success-formula> h3 {
    text-align: center;
    font-family: "Chelsea Market", cursive, sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.success-formula> h3 {
    font-size: 1rem;
}

.target, .current {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
}

/*----------------------------------Computers Box---------------*/

.comp-container {
    grid-area: 1 / 3;
    align-self: flex-end;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  5vh repeat(3, 1fr); 
    background-color: #000;
    border-radius: 10px;
    border: 2px solid greenyellow;
    margin: 5vh 2vw 5vh 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;  
}

.comp-container>h2 {
    text-decoration: underline;
}

.comp-one-record {
    grid-area: 2 / 1;
}

.comp-two-record {
    grid-area: 3 / 1;
}

.comp-three-record {
    grid-area: 4 / 1;
}

/*-----------------------Counters----------*/

#player-one, #comp-one, #comp-two, #comp-three {
    display: inline-block;
    top: 25%;
    left: 55%;
    height: 3vmin;
    width: 3vmin;
    font-size: 2vmin;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

/*----------------Player Turn--------*/

.player-turn-notice {
    display: flex;
    z-index: 999;
    position: absolute;
    top: 40vh;
    left: 100%;    
    justify-content: center;
    align-items: center;
    background-color: #000763;
    height: 10vh;
    width: 20vw;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* ----------------Next Space Info--------------- */

.new-space-info, .new-space-info-opp {
    display: none;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #000763;
    height: 30vh;
    width: 20vw;
    border-radius: 20px;
    color: #fff;
}

.space-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #000;
}

.space-view>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.space-view p {
    color: #000;
    text-align: center;
}

.space-view span {
    font-weight: bold;
}

.space-view p h2 {
    font-family: "Chelsea Market", cursive, sans-serif;
    font-weight: bold;
    font-size: 3vmin;
    text-transform: uppercase;
    text-decoration: underline;
}

.opp-btn-container {
    display: flex;
    flex-direction: row;
}

.carry-on-btn, .opp-use-now-btn {
    font-size: 2vmin;
    font-weight: bold;
    margin-bottom: 5px;
}

